body{
    background: white;
    border: 4px solid black;
    width: 800px;
    height: 500px;
}
.container{
    background-color: #3dbb1f;
    width: 600px;
    height:300px ;
    border: 1px solid white;
    position: absolute;
    left: 100px;
    top:100px;

  
}
.banner{
     position: absolute;
    top: 50px;
    left: 320px;
   
    background: #c9f7eb;
    padding: 10px 30px;
    border: 2px solid #000;
}
.close{
    top: -1px;
    right: 0px;
    border: 2px solid black;
    background-color: white;
    position: absolute;
    text-align: center;
}
.text{
  
position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    border: 2px dashed #fff;
    padding: 20px 40px;
    font-size: 20px;
  }

.left{
  
    position: absolute;
    border-radius: 80px;
    width: 80px;
    height: 80px;
   left:10px;
   top: 200px;
    transform: translate(50%, 0);

    background: white;
}
.bottom{
  
    position: absolute;
    border-radius: 80px;
    width: 80px;
    height: 80px;
   right:10px;
   bottom: -40px;
    transform: translate(50%, 0);

    background: white;
}


