 body {
    background: #eee;
  }

 
  .container {
    width: 600px;
    height: 300px;
    background: #3dbb1f;
    margin: 50px auto;
    position: relative; 
    border: 3px solid #333;
  }

  
  .banner {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%, 0);
    background: #c9f7eb;
    padding: 10px 30px;
    border: 2px solid #000;
  }

  
  .close {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 22px;
    height: 22px;
    background: #fff;
    border: 1px solid #000;
    cursor: pointer;
    text-align: center;
    line-height: 20px;
  }

  
  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    border: 2px dashed #fff;
    padding: 20px 40px;
    font-size: 20px;
  }

 
  .left {
    position: absolute;
    width: 80px;
    height: 80px;
    background: #fff;
    border-radius: 50%;
    left: -40px;
    top: 50%;
    transform: translateY(-50%);
  }


  .bottom {
    position: absolute;
    width: 80px;
    height: 80px;
    background: #fff;
    border-radius: 50%;
    right: -40px;
    bottom: -40px;
  }