.container{
width: 850px;
    border: 2px solid black;
    display: grid;
    grid-template-columns:repeat(4,200px);
    grid-template-rows: repeat(5,200px);
    gap: 20px;
    padding:20px;

}


.p1{
    border: 2px solid black;
    grid-row: 1/2;
    grid-column: 1/3;
}
.p2{
     border: 2px solid black;
    grid-row: 1/2;
    grid-column: 3/5;
}
.p3{
       border: 2px solid black;
   grid-row: 2/3;
   grid-column: 1/3;
}
.p4,.p5,.p7,.p10,.p11{
       border: 2px solid black;
}
.p6{
   
     border: 2px solid black;
    grid-row: 3/4;
    grid-column: 1/2;
}
.p8{
      border: 2px solid black;
    grid-row: 3/6;
    grid-column: 3/5;
}
.p9{
            border: 2px solid black;
         grid-row: 4/5;
}
.p10{
    grid-row: 4/6;
}