
.container{
    height: 300px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
  
}
.row1{

   position: relative;
 
   min-height: 600px;
      color: #fff;
       background: url("https://images.unsplash.com/photo-1694875546238-67cb3596adf1?q=80&w=1336&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") center/cover no-repeat;
}
.row2{
   
    display: grid;
   grid-template-rows:3fr 3fr 3fr 3fr;
     
}
.IKEA{
    display: grid;
    color: #f0e474;
    text-shadow: 1px 1px #cbb80f;
    font-size: 150px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    margin: 40px;
    justify-content: center;
}
.text{
    font-size: 10px;
      margin-bottom: 10px;

}
.site{
      display: inline-block;
      background: #ffda1a;
      color: #000;
      padding: 12px 24px;
      border-radius: 25px;
      text-decoration: none;
      font-weight: bold;
      
}
.row2 div{

    border: 2px solid black;
}

