.container{
        display: flex;
            width: 100px;
            height: 100px;
            gap: 5px; 
            padding: 5px;
            background: #fff;
}
.left-column {
            display: flex;
            flex-direction: column;
            flex: 1;
            gap: 5px; 
        }
      
        .right-column {
            display: flex;
            flex-direction: column;
            flex: 1; 
            gap: 5px; 
        }
       
        .box {
            border: 2px solid #000;
            flex: 1; 
        }
       
        .box-big {
            flex: 2; 
        }
        