*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   } 
   main{
    width: 50%;
    border: 2px solid black;
    margin: 40vh auto;
    max-width: 500px;
    padding: 2em;
    background: rgb(78, 78, 83);   
    box-shadow: 20px 20px 20px 20px  black;    
}
h1,div{
        margin-bottom: 0.5em;
        text-shadow: 2px 2px white;
 }
label,input{
        width: 100%;
        padding: 0.3em;
     margin-top: 0.2em;
     font-size: 1.3rem;
}
.botton{
        padding: 0.5em;
        margin-top: 1em;
    
}
       .botton:hover{
         box-shadow: 2px 2px 2px 2px rgb(255, 255, 255);
       }
 .submit{
        text-align: center;
 }

